.parent {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  grid-template-rows: 1fr;

  .child {
    padding: 4rem 3rem;
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}