.card {
  background-color: $card;
  border-radius: $br;
  box-shadow: $box;

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: $bord-line;
    font-size: 1.2rem;
    padding: 2rem
  }

  &-border {
    width: 100%;
    border-bottom: solid 1px rgba($text, 0.1);
  }

  &-total {
    padding: $card-pad;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.6rem;

    &-total {
      font-family: $headers-font;
      font-weight: 500;
    }

    &-weight {
      font-family: $headers-font;
      font-weight: 400;
      opacity: 0.7;
      margin-left: 1rem;
    }
  }

  &-button {
    padding: $card-pad;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 1rem 3rem;
      background-color: $red;
      color: white;
      border-radius: 4px;
      font-size: 1.8rem;
      font-weight: 500;
      border: none;
      font-family: $headers-font;
      cursor: pointer;
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.03);
      }
    }
  }

}

.disabled {
  background-color: rgba(#777, 0.4) !important;
  cursor: not-allowed !important;
}

.disabled:hover {
  transform: none !important;
}

.add-red {
  color: $red;
  font-weight: 700;
}

.add-green {
  color: $green;
  font-weight: 700;
}

.cursor-auto * {
  cursor: auto !important;
}